@import '../../assets/sass/variables';
@import '../../assets/sass/mixins';

.header__article {
	@include containerJustify(flex, center, 10px);

	input {
		width: 100%;
		@include border;
	}

	button {
		background-image: $background-gradient-bottom;
		@include border;
	}
}

.header__main .header__navBar--desktop {
	display: none;
}

@media screen and (min-width: 1110px) {
	.header__main {
		display: flex;
		justify-content: space-between;
		align-items: center;
		.header__article {
			@include containerJustify(flex, flex-start, 15px);
			input {
				width: 80%;
			}
		}
	}
}

@media screen and (min-width: 600px) {
	.header__article {
		@include containerJustify(flex, flex-start, 15px);
		input {
			width: 40%;
		}
	}
}

@media screen and (min-width: 1099px) {
	.header__main .header__navBar--desktop {
		display: flex;
		gap: 25px;

		p {
			text-transform: capitalize;
		}
	}
}
