@mixin containerJustify($display, $justify, $gap) {
	display: $display;
	justify-content: $justify;
	gap: $gap;
}

@mixin containerAlignItems($display, $justify, $gap) {
	display: $display;
	align-items: $justify;
	gap: $gap;
}

@mixin contaienrGridColumn($display, $justify, $align) {
	display: $display;
	justify-content: $justify;
	align-items: $align;
}

@mixin containerGrid($column, $fraction) {
	display: grid;
	grid-template-columns: repeat($column, $fraction);
}

@mixin containerGridMargin($columnOne, $columnTwo, $columnThree) {
	display: grid;
	grid-template-columns: $columnOne $columnTwo $columnThree;
}

@mixin flexDirection {
	display: flex;
	flex-direction: column;
}

@mixin border {
	border: none;
	border-radius: 2px;
}
